* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #e6e6e6;
}

.navbar {
    z-index: 0;
    background-color: #2b2b2b;
    height: 44px;
    box-shadow: 0px -0.5px 2px 2px rgba(32, 32, 32, 0.705);
}

#navbarSupportedContent {
    position: absolute;
    top: 4;
    left: 130;
}

.nav-link {
    font-family: sans-serif;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: #8a8a8a;
}

.nav-link:focus {
    color: #8a8a8a;
}

#star {
    margin-top: 2px;
}

#star:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.fa-bars {
    font-size: 1.2rem;
}

.fa-magnifying-glass {
    font-size: 1.2rem;
}

.fa-circle-user {
    font-size: 1.3rem;
    margin-top: 1px;
}

.dropdown-item {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.diagonal {
    width: 140px;
    height: 54px;
    background: #b40000;
    transform: skew(-25deg);
    position: absolute;
    left: -20;
    top: -10;
}

.diagonal2 {
    width: 130px;
    height: 54px;
    background: rgb(221, 0, 0);
    transform: skew(-25deg);
    position: absolute;
    left: -20;
    top: -10;
}

#logo {
    position: absolute;
    top: 12;
    left: 13;
}

.main {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.esquerdaMain {
    width: auto;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meioMain {
    width: 35%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direitaMain {
    width: auto;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuY {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 250px;
}

.menuDireita {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#menuDireita2 {
    width: 300px;
}

#star2 {
    margin-bottom: -5px;
    width: 60px;
}

#menuY {
    margin-bottom: -10px;
    margin-top: -10px;
    list-style: none;
    font-size: 0.75rem;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 10px;
}

.menuYli:hover {
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

a#menuY {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
}

.text-center {
    padding: 8px;
    background-color: #e1084a;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 0.8rem;
}

.text-center:hover {
    background-color: #ad0839;
    transition: 0.5s;
    cursor: pointer;
}

#imgY {
    width: 20px;
}

.menuY2 {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 250px;
}

h1.h1Y {
    font-size: 0.9rem;
    margin-bottom: -5px;
    font-weight: bold;
    color: #2b2b2b;
}

.log {
    background-color: #00000000;
    border: 1px solid #0066cc7a;
    margin-top: 10px;
}

.log:hover {
    cursor: pointer;
    background-color: #0066cc7a;
    transition: 0.5s;
    border-color: #00000000;
}

.cad {
    background-color: #06c;
    border: 1px solid #06c;
}

.cad:hover {
    cursor: pointer;
    background-color: rgb(0, 80, 160);
    transition: 0.5s;
    border-color: #00000000;
}

a#menuYlog {
    text-decoration: none;
    text-transform: capitalize;
    color: #0066cce0;
}

.conteudoMeio {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.conteudoMeio:hover {
    cursor: pointer;
}

#noticia {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

#imgNoticia {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.legenda {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #d1d1d1;
    box-shadow: 0px -0.5px 2px 1px rgba(184, 184, 184, 0.705);
}

#h1Legenda {
    font-size: 1.1rem;
    padding: 10px 10px 0px;
}

#h1Legenda:hover {
    cursor: pointer;
    color: #06c;
    transition: 0.3s;
}

#pLegenda {
    color: #858585;
    font-size: 0.8rem;
    padding-left: 10px;
    margin-top: -5px;
}

.logMeio {
    width: 40%;
    padding: 5px;
}

div.logoNoticia {
    display: flex;
    margin-bottom: 10px;
}

img#logoNoticia {
    width: 40px;
    height: 40px;
}

#h1LogoNoticia {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

#h1LogoNoticia:hover {
    color: #06c;
    cursor: pointer;
    transition: 0.3s;
}

#pLogoNoticia {
    font-size: 0.8rem;
    margin-top: -10px;
    color: #858585;
}

.legendaNoticia {
    margin-left: 5px;
}

#videoNoticia {
    width: 100%;
    height: 300px;
}

.blocoNoticia {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.blocoNoticia:hover {
    cursor: pointer;
}

#imgBlocoNoticia {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
}

#pBloco {
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

#h1LegendaBloco {
    font-size: 1rem;
    padding: 10px 10px 0px;
}

.legendaBloco {
    box-shadow: 4px 4px 10px -1px #979797;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.tituloBlocoDireita {
    margin-top: 5px;
    font-size: 0.75rem;
}

.textBlocoDireita {
    margin-top: -5px;
    font-size: 0.7rem;
}