@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
}

.navbar {
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.navbar-brand {
    width: 13%;
    margin-left: 20px;
}

#logo {
    width: 100%;
}

.nav-item {
    margin: 10px;
    margin-left: 15px;
}

.nav-link {
    color: rgb(34, 34, 34);
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

.dropdown-item {
    color: rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

.dropdown-menu {
    background-color: #FF0284;
}

ul.navbar-nav {
    margin-left: 30px;
    margin-top: 1px;
}

#assine {
    font-size: 0.9rem;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #FF0284;
    border-radius: 90px;
    color: #ffffff;
}

#assine:hover {
    background-color: rgb(34, 34, 34);
}

i {
    font-size: 1.3rem;
    margin-right: 20px;
}

#contato {
    margin: 1px;
}

#icontato {
    margin: 0px;
    font-size: 1.3rem;
    margin-right: 15px;
}

div#contato {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-link:hover {
    color: #FF0284;
}

.bannerPrincipal {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.banner {
    width: 100%;
    height: 100%;
    position: absolute;
}

.opacidade {
    padding: 20px;
    width: 100%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#textBanner {
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    width: 50%;
}

h1#textBanner {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

h6#textBanner {
    text-transform: uppercase;
    font-weight: bold;
}

p#textBanner {
    font-size: 0.9rem;
}

img#banner {
    width: 100%;
    height: 95%;
}

h1#textBanner:hover {
    border-bottom: 5px solid #FF0284;
    border-top: 5px solid #FF0284;
    cursor: pointer;
    transition: 1s;
}